@model DIRECTION_GESTOR.Models.Tipocuentas

@{
    ViewData["Title"] = "Create";
}
<br /> <br />
<h2>Agregar Tipo de Cuenta</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DescripcionTipoCuenta" class="control-label"></label>
                <input asp-for="DescripcionTipoCuenta" class="form-control" />
                <span asp-validation-for="DescripcionTipoCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoFk" class="control-label"></label>
                <select asp-for="IdEstadoFk" class ="form-control" asp-items="ViewBag.IdEstadoFk"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
