@model DIRECTION_GESTOR.Models.Personascorreos

@{
    ViewData["Title"] = "Delete";
}
<br><br>
<h2>Eliminar</h2>
<hr>
<h3>Deseas Eliminar Esto?</h3>
<div>
    <h4>Correo de Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Persona
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPersonaFkNavigation.NombrePersonas) @Html.DisplayFor(model => model.IdPersonaFkNavigation.ApellidoPersonas)
        </dd>
        <dt>
            Correo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCorreoFkNavigation.DescripcionCorreo)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPersonaCorreo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver Atras</a>
    </form>
</div>
