@model DIRECTION_GESTOR.Models.Personascorreos

@{
    ViewData["Title"] = "Edit";
}
<br><br>
<h2>Modificar Correo de Personas</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPersonaCorreo" />
            <div class="form-group">
                <label asp-for="IdPersonaFk" class="control-label">Persona</label>
                <select asp-for="IdPersonaFk" class="form-control" asp-items="ViewBag.IdPersonaFk"></select>
                <span asp-validation-for="IdPersonaFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCorreoFk" class="control-label">Correo</label>
                <select asp-for="IdCorreoFk" class="form-control" asp-items="ViewBag.IdCorreoFk"></select>
                <span asp-validation-for="IdCorreoFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
