@model DIRECTION_GESTOR.Models.Tipodocumentos

@{
    ViewData["Title"] = "Delete";
}
<br><br>
<h2>Eliminar</h2>
<br>
<h3>Deseas Eliminar esto?</h3>
<div>
    <h4>Tipo de documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripcion
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionTipoDocumento)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoFkNavigation.DescripcionEstado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTipoDocumento" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver Atras</a>
    </form>
</div>
