@model DIRECTION_GESTOR.Models.Prioridades

@{
    ViewData["Title"] = "Edit";
}
<br><br>
<h2>Modificar Prioridad</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPrioridad" />
            <div class="form-group">
                <label asp-for="DescripcionPrioridad" class="control-label">Prioridad</label>
                <input asp-for="DescripcionPrioridad" class="form-control" />
                <span asp-validation-for="DescripcionPrioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
