@model DIRECTION_GESTOR.Models.Institucionesarchivos

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Institucionesarchivos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdArchivo" />
            <div class="form-group">
                <label asp-for="EnlaceArchivo" class="control-label"></label>
                <input asp-for="EnlaceArchivo" class="form-control" />
                <span asp-validation-for="EnlaceArchivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaArchivo" class="control-label"></label>
                <input asp-for="FechaArchivo" class="form-control" />
                <span asp-validation-for="FechaArchivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoArchivoFk" class="control-label"></label>
                <input asp-for="IdTipoArchivoFk" class="form-control" />
                <span asp-validation-for="IdTipoArchivoFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoFk" class="control-label"></label>
                <input asp-for="IdEstadoFk" class="form-control" />
                <span asp-validation-for="IdEstadoFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdInstitucionFk" class="control-label"></label>
                <select asp-for="IdInstitucionFk" class="form-control" asp-items="ViewBag.IdInstitucionFk"></select>
                <span asp-validation-for="IdInstitucionFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
