@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://teleantillas.com.do/wp-content/uploads/2019/10/recinto.jpeg" alt="Organizacion Academica" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Vuelve mas solida la Organizacion de la institucion.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.ucentral.edu.co/sites/default/files/inline-images/banner-estudiantes_0.jpg" alt="Gestion de Personal" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Administra Mejor los Recursos humanos y los usuarios de la institucion.
                    
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.guiadelnino.com/var/guiadelnino.com/storage/images/educacion/dibujar-con-los-ninos/10-juegos-para-aprender-a-usar-los-colores/7622541-9-esl-ES/10-juegos-para-aprender-a-usar-los-colores_w1140.jpg" alt="Manejo de Inventario" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Organiza a tus estudiantes manten tus reportes al dia.
                    
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    
    <div class="col-md-3">
        <h2>Que es Direction Gestor</h2>
        <p>
            Es una solución de gestión de procesos de la institución educativa el cual lo acople a sus operaciones
            con el fin de automatizar funciones manuales diarias en las operaciones recurrentes de una institución educativa determinada.
        <p>
    </div>
    
    <div class="col-md-3">
        <h2>Objetivo</h2>
        <p style=" text-align: justify">
                Su objetivo general de este trabajo es facilitar la gestión de los 
            alumnos que han sido inscritos en la institución por medio de las herramientas 
            proporcionadas para desarrollar un correcto Análisis de Sistema, por un período 
            de tres meses para satisfacer las necesidades de información de la organización.
        <p>
    </div>
    <div class="col-md-3">
        <h2>Proposito</h2>
        <p style=" text-align: justify">
            El propósito para hacer este proyecto se enfoca en el desarrollo de un sistema que 
            cumpla las expectativas logrando cubrir los requerimientos planteados, agilizando 
            las operaciones del centro educativo, completando un producto óptimo orientado a la 
            funcionalidad y resolución de sus problemáticas.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Enfoque</h2>
        <p style=" text-align: justify">
            Busca integrar funciones claves del manejo y operaciones claves para el mantenimiento 
            de la institución como la gestión de personal y estudiantes, control de tareas y generación
            de alertas, control y gestión financiera para el manejo de finanzas de la institución con el 
            control de entrada de capital, manejo de los recursos físicos y conteo de los mismos para ver 
            cuando pueden ser puestos a disposición o no.
        </p>
    </div>
</div>
