@model DIRECTION_GESTOR.Models.Asignaturas

@{
    ViewData["Title"] = "Create";
}
<br><hr>
<h2>Agregar Asignatura</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAsignatura" class="control-label">Codigo de Asignatura</label>
                <input asp-for="IdAsignatura" class="form-control" />
                <span asp-validation-for="IdAsignatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionAsignatura" class="control-label">Asignatura</label>
                <input asp-for="DescripcionAsignatura" class="form-control" />
                <span asp-validation-for="DescripcionAsignatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoFk" class="control-label">Estado</label>
                <select asp-for="IdEstadoFk" class ="form-control" asp-items="ViewBag.IdEstadoFk"></select>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="IdInstitucionFk" class="control-label">Institucion</label>
                <select asp-for="IdInstitucionFk" class ="form-control" asp-items="ViewBag.IdInstitucionFk"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
