@model DIRECTION_GESTOR.Models.Estudiantescursos

@{
    ViewData["Title"] = "Edit";
}
<br><br>
<h2>Modificar Estudiante en Curso</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEstudianteCurso" />
            <div class="form-group">
                <label asp-for="CodigoEstudianteFk" class="control-label">Estudiante</label>
                <select asp-for="CodigoEstudianteFk" class="form-control" asp-items="ViewBag.CodigoEstudianteFk"></select>
                <span asp-validation-for="CodigoEstudianteFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCursoFk" class="control-label">Curso</label>
                <select asp-for="IdCursoFk" class="form-control" asp-items="ViewBag.IdCursoFk"></select>
                <span asp-validation-for="IdCursoFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEstudianteCurso" class="control-label">Fecha</label>
                <input asp-for="FechaEstudianteCurso" class="form-control" />
                <span asp-validation-for="FechaEstudianteCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
