@model DIRECTION_GESTOR.Models.Puestostrabajos

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Deseas Eliminar esto?</h3>
<div>
    <h4>Puesto de Trabajo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Puesto de Trabajo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionPuestoTrabajo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPuestoTrabajo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver Atras</a>
    </form>
</div>
