@model DIRECTION_GESTOR.Models.Puestostrabajos

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Puesto de Trabajo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Puesto de Trabajo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionPuestoTrabajo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPuestoTrabajo" class="btn btn-primary">Modificar</a> |
    <a asp-action="Index">Volver Atras</a>
</div>
