@model DIRECTION_GESTOR.Models.Asignaturasempleados

@{
    ViewData["Title"] = "Edit";
}
<br><br>
<h2>Modificar Empleado Activo</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAsignaturaEmpleado" />
            <div class="form-group">
                <label asp-for="CodigoEmpleadoFk" class="control-label">Empleado</label>
                <select asp-for="CodigoEmpleadoFk" class="form-control" asp-items="ViewBag.CodigoEmpleadoFk"></select>
                <span asp-validation-for="CodigoEmpleadoFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoFk" class="control-label">Estado</label>
                <select asp-for="IdEstadoFk" class="form-control" asp-items="ViewBag.IdEstadoFk"></select>
                <span asp-validation-for="IdEstadoFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
