@model DIRECTION_GESTOR.Models.Empleados

@{
    ViewData["Title"] = "Create";
}
<br><br>
<h2>Agregar Empleado</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoEmpleado" class="control-label">Codigo de Empleado</label>
                <input asp-for="CodigoEmpleado" class="form-control" />
                <span asp-validation-for="CodigoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoEmpleado" class="control-label">Sueldo</label>
                <input type="number" asp-for="SueldoEmpleado" class="form-control" />
                <span asp-validation-for="SueldoEmpleado" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="IdPersonaFk" class="control-label">Persona</label>
                <select asp-for="IdPersonaFk" class ="form-control" asp-items="ViewBag.IdPersonaFk"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoFk" class="control-label">Estado</label>
                <select asp-for="IdEstadoFk" class ="form-control" asp-items="ViewBag.IdEstadoFk"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPuestoTrabajoFk" class="control-label">Puesto de Trabajo</label>
                <select asp-for="IdPuestoTrabajoFk" class ="form-control" asp-items="ViewBag.IdPuestoTrabajoFk"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
